<mat-toolbar>
    <button mat-icon-button style="color: white;">
        <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/home']"><img class="logo" src="assets/img/logo.png"></a>

    <div class="language-picker">
        <form action="" class="language-picker-form">
            <select name="language-picker-select" class="language-picker-select">
                <option lang="es" value="spanish">Español</option>
                <option lang="en" value="english" selected>English</option>
            </select>
        </form>
    </div>
</mat-toolbar>

<div class="wrapper">
    <div class="header header-mid">
        <div class="header-mid-left">
            <img class="profile" src="assets/img/placeholder.png">
        </div>

        <div class="menu">
            <button *ngFor="let option of menu" title={{option.name}} mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon svgIcon={{option.icon}}></mat-icon>
            </button>

        </div>

    </div>

    <div class="header header-bottom">
        <div class="header-bottom-left" style="margin-left: 175px;">
            <button class="btn" mat-stroked-button>Gestor Escolar</button>
            <div class="btn-divider" style="width: 8px;"></div>
            <button class="btn" mat-stroked-button>Gestor Comercial</button>
        </div>

        <div class="user-search">



        </div>

        <div class="logged-users">
            <div class="logged-user" *ngFor="let user of loggedUsers | async">
                <img class="avatar" [src]="user.avatar" [alt]="user.firstname + ' ' + user.lastname"
                    [title]="user.firstname + ' ' + user.lastname" />
            </div>
        </div>

    </div>

</div>